h1{
    text-align:center;
    color:#2e9cca;
    font-size:75px;
    
}

p{   
    text-align:center;
    color:#aaabb8;
    font-size:30px;
    
}
hr{
    color: #29648a;
}

/*#section1{*/
/*    background-color: #25274d ;*/
/*}*/


.center{
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.pets{
    width: 25%;
    margin-left: 15%;
    margin-right: 2%;
}
.fence{
    width: 30%;
    margin-left: 8%;
    margin-right: 8%;
}
#section1{
   background-color: #25274d;
}
#section2{
    background-color: #25274d;
}

#section3{
    background-color: #25274d;
} 

#section4{
    background-color: #25274d;
}

#section5{
    background-color: #25274d;
}   


    
